body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align:center;
  color: rgb(112, 128, 144);
}

nav {
  text-align:center;
  position: absolute;
  bottom: 20px;
  bottom: 50px;
  left: 20px;
  right: 20px;
  background-color: rgb(112, 128, 144);
  padding: 10px;
}

nav > a {
  margin: 20px;
  color: white;
}
